* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #94D9EA;
}

.main-content {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 12px;
}
.middle{
    width: 100%;
}
#form-cv{
    background-color: white;
    padding: 100px;
    overflow-y: scroll;
    /*!*flex: 1;*!*/
    /*grid-column-start: 1;*/
    /*position: fixed;*/
    /*left: 0;*/
    height: 100%;
    width: 100%;
}
#generate-cv{
    background-color: #f3f2ef;
    padding: 20px;
    overflow-y: scroll;
    /*position: fixed;*/
    /*grid-column-start: 2;*/
    /*right: 0;*/
    height: 100%;
    width: 100%;
}
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    position: fixed;
    top: 12vh;
    /* width: 80%; */
    justify-content: center;
    /* margin: auto; */
    justify-items: center;
}
main{
    padding-top: 12vh;
}   
.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* flex-grow: 1; */
}
.column {
    padding-left: 10px;
    flex-direction: column;
    flex-grow: 1;
}

.left-section {
    grid-column: span 1;
    height: 100%;
    background-color: #00324A;
}

.right-section {
    grid-column: span 3;
    background-color: #f7f7f7;
    height: 100%;
}


.left-content {
    padding: 2rem 3rem;
}

.profile {
    width: 100%;
    border-bottom: 1px solid #002333;
}

.image {
    width: 100%;
    text-align: center;
}

.profile img {
    width: 100%;
    border-radius: 50%;
    border: 8px solid #002333;

}

.name {
    /* font-size: 2rem; */
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.2rem 0;
}

.career {
    /* font-size: 1.2rem; */
    color: #94D9EA;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.main-title {
    /* font-size: 1.8rem; */
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f7f7f7ec;
    padding-top: 3rem;
}

.contact-info ul {
    padding-top: 2rem;
}

.contact-info ul li {
    padding: .4rem 0;
    display: flex;
    align-items: center;
    color: #718096;
}

.contact-info ul li i {
    padding-right: 1rem;
    /* font-size: 1.2rem; */
    color: #2D9CDB;
}

.skills-section ul {
    padding-top: 2rem;
}

.skills-section ul li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: .4rem 0;
}

.progress-bar {
    width: 100%;
    height: .4rem;
    background-color: #2f81ed5b;
    position: relative;
    border-radius: 12px;
}

.progress {
    height: 100%;
    position: absolute;
    left: 0;
    background-color: #2D9CDB;
    border-radius: 12px;
}

.js-progress {
    width: 70%;
}

.ps-progress {
    width: 90%;
}

.j-progress {
    width: 85%;
}

.c-progress {
    width: 40%;
}

.n-progress {
    width: 63%;
}

.w-progress {
    width: 78%;
}


.skill-title {
    text-transform: uppercase;
    color: #f7f7f7;
    /* font-size: 1rem; */
}

.sub-title {
    padding-top: 2rem;
    /* font-size: 1.2rem; */
    text-transform: uppercase;
    color: #f7f7f7;
}

.sub-para {
    color: #ccc;
    padding: .4rem 0;
}

.references-section li {
    color: #ccc;
    padding: .2rem 0;
}

.references-section li i {
    padding-right: .5rem;
    /* font-size: 1.2rem; */
    color: #2D9CDB;
}

.right-main-content {
    padding: 2rem 3rem;
}


.right-title {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2F80ED;
    margin-bottom: 1.2rem;
    position: relative;
}

.right-title::after {
    content: "";
    position: absolute;
    width: 60%;
    height: .2rem;
    background-color: #ccc;
    border-radius: 12px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.para {
    line-height: 1.6rem;
    color: #718096;
    /* font-size: 1.1rem; */
}

.sect {
    padding-bottom: 2rem;
}

.timeline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tl-title {
    letter-spacing: 1px;
    /* font-size: 1.3rem; */
    color: #002333;
    text-transform: uppercase;
}

.tl-title-2 {
    letter-spacing: 1px;
    /* font-size: 1.3rem; */
    color: #2D9CDB;
    text-transform: uppercase;
}

.tl-content {
    border-left: 1px solid #ccc;
    padding-left: 2rem;
    position: relative;
    padding-bottom: 2rem;
}

.tl-title-2::before {
    content: "";
    position: absolute;
    width: .7rem;
    height: .7rem;
    background-color: #2D9CDB;
    border-radius: 50%;
    transform: translateX(-50%);
    left: 0;
}

.accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: solid #e4e4e7;
    border-width: 0px 0px 1px 0px;
    outline: none;
    transition: 0.4s;
    font-weight: bold;
    font-size: 16px;
    padding: 18px 0px;

}

.active,
.accordion:hover {
    background-color: white;
}

.panel {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    max-height: 0;
    padding: 0 18px;
    background-color: white;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\2b9f';
    border: 1px solid black;
     font-size: 13px;
    color: #777;
    float: right;
    padding: 6px 8px;
    border-radius: 6px;
}

.accordion:hover:after {
    content: '\2b9f';
    border: 1px solid blue;
    font-size: 13px;
    color: #777;
    float: right;
    padding: 6px 8px;
    border-radius: 6px;
}

f5f9ff
.active:after {
    content: '\2b9D';
    /* Unicode character for "minus" sign (-) */
}
input,textarea,select{
    background-color: #f4f4f5;
    border-radius: 5px;
    border: 1px solid #ffffff;
    padding: 10px;
    width: 100%;
}
input:hover,textarea:hover,select:hover{
    background-color: #f5f9ff;
    border: 1px solid #547bff;
}
input:focus,textarea:focus,select:focus{
    background-color: #f5f9ff;
    border: 1px solid #547bff;
    outline: none;
}
.input label{
    display: inline;
}
.input label,input,textarea{
    display: block;
    margin-top: 10px;
    font-size: 14px;
}
#btnImg{
    height: 100%;
}
.button-add-section::before{
    content: '+';
    border: 1px solid black;
    font-size: 13px;
    color: #777;
    float: left;
    padding: 6px 8px;
    border-radius: 6px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;;;
    align-items: center;
    color: white;
}

#previous-link{
    padding: 1em;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 0.7em;
    cursor: pointer;
}

#previous-link:hover{
    background-color: #9082ee;
}

#previous-link img{
    height: 20px;
    width: 20px;
}

#cv-title{
    display: flex;
    align-items: center;
    padding: 1em;
    gap: 0.5em;
}

#cv-title h1{
    font-size: 1.2em;
}

#cv-title img{
    height: 20px;
    width: 20px;
}

#cv-download{
    display: flex;
    gap: 1em;
}

.action-button{
    background-color: rgba(73, 69, 69, 0.822);
    color: white;
    padding: 1em;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 0.7em;
    cursor: pointer;
}

.action-button:hover{
    background-color: #9082ee;
}

.action-button img{
    height: 20px;
    width: 20px;
}

.go-button{
    padding: 1em;
    background-color: rgba(73, 69, 69, 0.822);
    cursor: pointer;
}

.go-button:hover{
    background-color: #9082ee;
}

.go-button img{
    height: 20px;
}

.button-direction{
    display: flex;
    gap: 0.05em;
    border: 1px solid white;
}
