/*
*====================================================================
*                       TABLE OF CONTENT                             
*
* ROOT VARIABLES
*   
* GENEARAL CONFIG 
*   
* HEADER 
*
* MAIN
*   1. Index main section
*   2. Signup main section
*
* FOOTER
* 
*        
*====================================================================
*/


/* 
* ===================================================================
*
* Root Variables
*
*====================================================================
*/

:root {

    --primary-color: #6A5ACD;
    /* --cover-color: #FFD700; */
    --cover-color: #ADD8E6;
    --cover-color-light: #ffbf0075;
    --actionable-color: #008080;

    --primary-fg: white;
    --cover-fg: #444444;

    --beige: #F5F5DC;
}
/* 
* ===================================================================
*
* GENERAL CONFIG
*
*====================================================================
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Roboto, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

input {
    border: none;
    outline: none;
}




/* 
* ===================================================================
*
* HEADER 
*
*====================================================================
*/

header {
    position: fixed;
    width: 100%;
    display: flex;
    padding: 0 2em;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    height: 12vh;
    background-color: var(--primary-color);
    z-index: 100;
    box-shadow: -3px 5px 12px -6px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: -3px 5px 12px -6px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: -3px 5px 12px -6px rgba(119, 119, 119, 0.75);
}

#logo-image {
    margin-top: 1em;
    color: var(--primary-fg);
    height:3em;
    width: 3em;
}

#option-menu {
    margin-top: 0.6em;
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#language-select {
    background-color: var(--primary-color);
    color: var(--primary-fg);
    font-size: 1em;
}

#login-btn-link {
    background-color: transparent;
    color: var(--primary-fg);
    font-size: 1em;
    font-weight: 600;
    transition: 0.2s ease;
}

#login-btn-link:hover {
    color: var(--cover-color);
}

#signup-btn-link {
    padding: 5px 10px;
    border: 2px solid var(--cover-color);
    border-radius: 50px;
    background-color: var(--primary-color);
    color: var(--cover-color);
    font-size: 1em;
    transition: background-color color 0.2s ease;
}

#signup-btn-link:hover {
    background-color: var(--cover-color);
    color: var(--cover-fg);
    font-weight: 600;
}

.navbar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    gap: 10px;
}

#nav-search {
    position: absolute;
    left: 0%;
    top: 0;
    transform: translateY(-50%);
    width: 30%;
    height: 100%;
    display: flex;
    margin-left: 10%;
    margin-bottom: 1em;
    border-radius: 500px;
    overflow: hidden;

}

#nav-search button {
    height: inherit;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#nav-search button img {
    height: 60%;
    width: 60%;
}

#nav-search input {
    height: inherit;
    width: 90%;
    border: 1px solid var(--cover-color);
    padding-left: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.navbar nav {
    width: 60%;
    padding-right: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.nav-link {
    position: relative;
    color: var(--primary-fg);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    transition: 0.2s ease;
}

.nav-link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.2s ease;
}

.nav-link:hover {
    color: var(--cover-color);
}

.nav-link:hover::after {
    background-color: rgba(0, 0, 0, 0.122);
}

.nav-link.active {
    color: black;
    font-size: 0.8em;
    font-weight: 600;
}

.nav-link.active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width:30%;
    transform: translate(-50%);
    border: 2px solid black;
}



/* 
* ===================================================================
*
* MAIN
*
*====================================================================
*/


/* Index main section */

#index-main {
    height: 250vh;
}

#hero-section {
    position: relative;
    height: 60vh;
    width: 100%;
}

.pub-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover; 
    opacity: 0; 
    transition: 3s ease; 
}

.current {
    opacity: 1;
}

#main-section {
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: max-content;
    width: 100%;
    height: 190vh;
}   

#fields-sidebar {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 4px -3px 14px -6px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 4px -3px 14px -6px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 4px -3px 14px -6px rgba(119, 119, 119, 0.75);
}

#item-search-wrapper {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.113);
}

#item-search-bar {
    width: 90%;
    height: 40px;
    display: flex;
}

#item-search-bar button {
    height: inherit;
    width: 20%;
    background-color: var(--actionable-color);
}

#item-search-bar button img {
    height: 50%;
    width: 50%;
}

#item-search-bar input {
    height: inherit;
    width: 80%;
    border: none;
    outline: none;
    padding-left: 1em;
    border: 1px solid var(--actionable-color)
}

#field-item-wrapper {
    height: 90%;
    color: var(--cover-fg);
    overflow-y: scroll;
}

.field-item {
    padding: 1em 2em;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.field-item img {
    height: 30px;
    width: 30px;
    margin-right: 2em;
}

.field-item:hover {
    background-color: rgba(0, 0, 0, 0.174);
}




#offers-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    grid-column-start: 2;
    height: 160vh;
}


#company-description {
    width: 100%;
    padding: 20px 15%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--beige);
}

#desc-image {
    height: 90%;
    width: 50%;
    margin-left: 30px;
    border-radius: 10px;
    object-fit: cover;
}

#desc-text {
    position: relative;
    height: 90%;
    width: 50%;
    padding: 0;
    word-wrap: break-word;
}

#desc-text h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--primary-color);
}

#desc-text p {
    font-size: 0.7em;
    line-height: 1.5em;
}

#desc-text button {
    position: relative;
    margin-top: 2em;
    padding: 20px 30px;
    background-color: var(--actionable-color);
    color: var(--primary-fg);
    border-radius: 5px;
    transition: 0.2s ease;
}


#desc-text button:hover {
    background-color: #039696;
}


#offers-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    min-height: 150vh;
    width: 100%;
    padding: 10px;
    padding-top: 3em;
}

#offers-container h2 {
    position: relative;
    margin-bottom: 20px;
    margin-left: 2%;
    color: var(--primary-color);
}

#offers-container h2::after {
    content: "";
    position: absolute;
    bottom: -10%;
    left: 0;
    width: 50px;
    border: 2px solid var(--primary-color);
}

#offers-list {
    margin-top: 2em;
    padding-right: 20px;
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.internship-card {
    position: relative;
    height: 30%;
    width: 23%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 2%;
    margin-bottom: 2rem;
    box-shadow: 0px -2px 15px -3px rgba(207, 212, 249, 0.48);
    cursor: pointer;
    display: none;
}

.offer-on-page {
    display: block;
}

.internship-card:hover {
    box-shadow: 0px -2px 20px 0px rgba(179, 185, 232, 0.534);
}

.internship-card .image-section {
    height: 60%;
    width: 100%;
    object-fit: cover;
    background-color: var(--light-gray-bg);
}


.internship-card .detail-section {
    position: relative;
    height: 40%;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.172);
    padding-left: 1rem;
    background-color: white;
}

.internship-card .detail-section .company-logo {
    position: absolute;
    top: 0;
    right: 10%;
    transform: translateY(-60%);
    height: 50%;
    width: 20%;
    border-radius: 5px;
}

.internship-card p {
    margin-bottom: 2px;
}

.internship-card p {
    font-size: 0.8rem;
    margin-top: 0.8rem;
}

.share-offer-section {
    position: absolute;
    height: 30px;
    width: 30px;
    margin: 0.5em 1em;
    bottom: 0;
    right: 0;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
}

.share-offer-section:hover {
    background-color: #cee1e1;
}

.share-offer-section img {
    height: 20px;
    width: 20px;
    color: black;
}


#page-navigation-container {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#navigation-wrapper {
    height: 70%;
    padding: 0.5em 0.7em;
    border-radius: 100px;
    box-shadow: 0px 0px 10px 1px #3d3d3d35;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.page-button,
#previous-page-btn,
#next-page-btn {
    height: 50%;
    padding: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    font-size: 1em;
    border-radius: 5px;
    color: var(--actionable-color);
    transition: background-color 0.3s ease;
}

.page-button:hover,
#previous-page-btn:hover,
#next-page-btn:hover {
    background-color: #cee1e1;
}

#next-page-btn,
#previous-page-btn {
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
}

#next-page-btn img,
#previous-page-btn img{
    height: 20px;
    object-fit: contain;
}

.active-page-btn {
    background-color: var(--actionable-color);
    font-weight: 500;
    color: white;
    box-shadow: 2px 2px 8px -2px #00000061;
}

.active-page-btn:hover {
    background-color: #0ba5a5;
}

/* Signup main section */

#signup-main,
#login-main {
    position: relative;
    background-image: url('assets/images/black\ background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.main-filter {
    position: fixed;
    top: -100%;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #00000038;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 0;
}
 
#signup-form,
#login-form {
    height: 90%;
    width: 30%;
    background-color: #67646435;
    box-shadow: 0px 0px 50px -5px rgba(163, 163, 163, 0.459) inset;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(145, 144, 144, 0.661);
    padding: 1em 2em;
    z-index: 0;
}

#login-form {
    height: 70%;
}

.form-header {
    height: 10%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-main {
    position: relative;
    height: 65%;
    width: 100%;
    overflow: hidden;
}

.block {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    transition: 0.4s ease;
}

#block-1 {
    top: 0;
    left: 0;
}

#block-2 {
    top: 0;
    left: 120%;
}

.group-input {
    height: fit-content;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 1em;
}

.form-input,
.check-input,
#social-connect {
    position: relative;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-input {
    height: 20px;
}

.form-input input {
    height: 100%;
    width: 100%;
    outline: none;
    border-radius: 10px;
    background-color: #ffffff6e;
    font-size: 1em;
}


.form-input label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: 0.2s ease;
    color: rgb(49, 49, 49);
    pointer-events: none;
}

.form-input a {
    color: white;
}

.form-input a:hover {
    color: var(--actionable-color);
}

.form-input input:focus,
.form-input input:valid {
    padding-left: 10px;
    padding-top: 10px;
}

.form-input input:focus~label,
.form-input input:valid~label {
    top: 10px;
    font-size: 0.8em;
    font-weight: 400;
    color: white;
}

.check-input label {
    color: white;
}

.picture-input {
    position: relative;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #ffffff6e;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}



.picture-input img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: fill;
}

#social-connect {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.connect-option {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
}

.connect-option img {
    height: 50%;
    width: 50%;
    object-fit: contain;
}

.form-action {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

#follow-button,
#signup-button,
#login-button {
    width: 70%;
    height: 50px;
    border-radius: 100px;
}

#signup-button {
    display: none;
    background-color: rgba(255, 255, 255, 0.211);
    color: white;
}

/* 
* ===================================================================
*
* FOOTER
*
*====================================================================
*/


#partners-section {
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}


#partners-section-title {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--beige);
    font-size: 1.5em;
    color: var(--primary-color);
    font-weight: 500;
}

#partners-wrapper {
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f5f5dc6a;

}

.partner-title {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.partner-title h2 {
    width: fit-content;
}

.partner-images {
    height: 80%;
    width: 100%;;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0% 20% 0 20%;

}

.partner-images img {
    height: 40px;
    width: 40px;
    aspect-ratio: 3/2;
    object-fit: contain;
    margin: 0.7em 1.5em 0 0;
    mix-blend-mode: color-burn;
}

#newsletter {
    height: 15vh;
    padding: 3em;
    width: 100%;
    background-color: rgb(14, 14, 14);
    color: var(--primary-fg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#newsletter-form {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-top: 1em;
    height: 50px;
}

#newsletter-form input {
    height: inherit;
    width: 70%;
    font-size: 1em;
    padding-left: 1em;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.065)
}

#newsletter-form button {
    height: inherit;
    width: 25%;
    font-size: 1em;
    font-weight: 500;
    background-color: var(--actionable-color);
    color: var(--primary-fg)
}

#newsletter-form button:hover {
    background-color: #039696;
}

#index {
    height: fit-content;
    width: 100%;
    background-color: rgb(14, 14, 14);
    color: var(--primary-fg);
    padding: 1em 10rem 1em 10rem;
}

#index-list-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 2px solid var(--primary-fg);
    padding-left: 10em;
    padding-right: 10em;
    font-size: 0.8em;
}

.index-list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.index-list-container h3 {
    margin-bottom: 1em;
}

.index-list-container ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.index-list-container ul li {
    margin-bottom: 0.7em;
}

#more-info-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 2em;
    font-size: 0.7em;
}



.more-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-info-container img {
    height: 40px;
    width: 40px;
    margin-right: 1em;
}

#social-images {
    display: flex;
    justify-content: space-between;
}

#social-images img {
    height: 20px;
    width: 20px;
}





